body {
	/***
	  ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
	  IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
	//background-color: white;

	.content {
		font-size: 16px;
	}

	.sidebar {
		top: 0;
	}

	.graph {
		min-height: auto !important;
	}

	.sidebar-container {
		height: auto;
	}

	.toc-container {
		max-height: 1000000px;
		overflow-y: auto;
		margin-bottom: auto;
	}

	.filetree-sidebar {
		width: 310px;
	}

	h1 {
		//color: black;
	}
}
